{% extends "padre.html" %}
{% load static %}


 {% block contenido-principal %}
 <div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-sm-12">
            <h1 class="most_text" style="text-align: center;">Noticias</h1>
                 <div class="about_img"><img src="{% static 'images/10452845_752173014831462_1916323651311923862_o.jpg' %}" type="image/jpg"></div>
                  <div class="like_icon"><img src="{% static 'images/like-icon.png' %}"></div>
                  <p class="post_text">Post By : 09/06/2019</p>
                  <h2 class="most_text">Scrum en la cancha 1 <br></h2>
                  <p class="lorem_text">No me puedo acordar que equipo es!</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="https://www.facebook.com/lanoventaysiete.detorcuato"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                           <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                           <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                        </ul>
                     </div>
                     <!--<div class="read_bt"><a href="#">Leer Mas</a></div>-->
                  </div>
               </div> 
      
      <!-----Sector derecho de la pantalla, con los ultimos posteos-->
            <div class="col-lg-4 col-sm-12">
               <div class="newsletter_main">
                  <h1 class="recent_taital">Posteos Recientes</h1>
                  {% for entrada in entradas_recientes %}
                  <div class="recent_box">
                     <div class="recent_left">
                        <div class="image_6"><img src="{{ entrada.imagen.url }}" alt="{{ entrada.titulo }}" type="image/jpg"></div>
                     </div>
                     <div class="recent_right">
                        <h3 class="consectetur_text">{{ entrada.titulo }}</h3>
                        <p class="dolor_text">{{ entrada.contenido|slice:":35" }}{% if entrada.contenido|length > 35 %}....{% endif %}
                           <div class="read_bt"><a href="{% url 'Entradas:entradadetalle' entrada.id %}" style="font-size: 14px;; margin-top: 5px;">Leer Más</a></div>
      
                        </p>
                        
                     </div>
                  </div>
                  {% endfor %}
            </div>
         </div>
      </div>
 {% endblock %}
 

{% block contenido %}
   <!-- Tu contenido personalizado para la sección newsletter -->

   <div class="tu_clase">
    <img src="{% static 'images/13113011_1175025305875285_3659323548521853765_o.jpg' %}" alt="Descripción de la imagen">
  <div class="like_icon"><img src="{% static 'images/like-icon.png' %}"></div>
  <p class="post_text">Post By : 09/06/2019</p>
  <h2 class="most_text">Partido La Plata - Hindu <br></h2>
  <p class="lorem_text">Foto del Arbitro en la charla previa al partido con los capitanes</p>
  <div class="social_icon_main">
     <div class="social_icon">
        <ul>
           <li><a href="https://www.facebook.com/lanoventaysiete.detorcuato"><img src="{% static 'images/fb-icon.png' %}"></a></li>
           <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
           <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
        </ul>
     </div>
    <!--<div class="read_bt"><a href="#">Leer Mas</a></div>-->
  </div>
</div>
<div class="tu_clase">
    <img src="{% static 'images/14590118_1306179902759824_1155919796548668201_o.jpg' %}" alt="Descripción de la imagen">
  <div class="like_icon"><img src="{% static 'images/like-icon.png' %}"></div>
  <p class="post_text">Post By : 09/06/2019</p>
  <h2 class="most_text">Partido Hindu - Alumni <br></h2>
  <p class="lorem_text">La cara de Mati No tiene desperdicio</p>
  <div class="social_icon_main">
     <div class="social_icon">
        <ul>
           <li><a href="https://www.facebook.com/lanoventaysiete.detorcuato"><img src="{% static 'images/fb-icon.png' %}"></a></li>
           <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
           <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
        </ul>
     </div>
    <!--<div class="read_bt"><a href="#">Leer Mas</a></div>-->
  </div>
</div>
{% endblock %}