{% extends "padre.html" %}
{% load static % }
{% block contenido-principal %}
<div class="container text-center mt-6">
    <h2 class="most_text" style="text-align: center; display: inline-block; margin-right: 10px;">Editar Usuario <br> {{ nombreusuario }}</h2>
    <div class="about_img" style="display: flex; align-items: center; justify-content: center;">
        <img src="{{ avatar }}" alt="{{ Avatar }}" class="card-img-top" style="width: 100px; height: 100px;">
        <a href="{% url 'agregaravatar' %}" class="btn btn-primary" style="margin-left: 10px;">avatar</a>
    </div>
</div>




    <div class="container">
            <div class="row justify-content-center align-items-center" style="min-height:30vh;">
                    <div class="col-sm-7 ">
                        <form action="{% url 'usuarioeditar' %}" method="POST"> {% csrf_token %}
                            <div class="card-body">
                                <table>
                                {{ form.as_table }} 
                                </table>
                                <input type="submit" class="btn btn-primary btn-block" value="Guardar">   
                                 
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>

                    <br>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
{% endblock %}
<!----
    {{ form.as_p }}
    <br>
    <div class="container text-center">
    <button type="submit" class="btn btn-primary text-center">Guardar</button>
    </div>


<div class="contenido-personalizado">
        <!-- Contenido principal de la entrada -->
        <h2 class="most_text" style="text-align: center;">{{ entrada.titulo }}</h2>
        <h3 style="text-align: center;">{{ entrada.subtitulo }}</h3>

    
-->
