{% extends "padre.html" %}
{% load static % }
{% block contenido %}

<br>
<br>
<br>

<div class="container text-center mt-6">
    <h1>Editar Usuario {{ nombreusuario }}</h1>


    <div class="container">
        
            <div class="row justify-content-center align-items-center" style="min-height:30vh;">
                    <div class="col-sm-7 ">
                        <form action="{% url 'usuarioeditar' %}" method="POST"> {% csrf_token %}
                            <div class="card-body">
                                <table>
                                {{ form.as_table }} 
                            
                                </table>
                                <input type="submit" class="btn btn-primary text-center" value="Guardar">   
                    
                            </div>
                        </form>

                    </div>
                    <br>
                    <br>
                    
                    <br>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
{% endblock %}
<!----
    {{ form.as_p }}
    <br>
    <div class="container text-center">
    <button type="submit" class="btn btn-primary text-center">Guardar</button>
    </div>




    
-->
