{% extends "padre.html" %}
{% load static %}

{% block contenido-principal %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    <style>
        body {
            background-color: #333; /* Establece el fondo de todo el cuerpo de la página a #333 */
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: #333;">
        <div class="row justify-content-center align-items-center" style="min-height: 10vh;">
            <h2 class="most_text" style="text-align: center; color: yellow;">Menú Administrador</h2>
            <h2 style="text-align: center; color: yellow;">Listado de Posteos</h2>
                <div class="container" style="background-color: #2b22b2;">  
                    <!-- <div class="col-sm-8" style="background-color: #5aac75;">
                       
                    </div> -->
                </div>    
        </div>
    </div>
    <div class="container" style="background-color: #333;">
        <div class="row justify-content-center align-items-center" style="min-height: 30vh;">
            <table style="width: 50%; margin: 0 auto; color: rgb(255, 255, 255);">
                <thead>
                  <tr>
                    <th style="width: 20%; text-align: center;">Nombre de Usuario</th>
                    <th style="width: 10%; text-align: center;">Superposteo</th>
                    <th style="width: 10%; text-align: center;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for posteo in posteos %}
                  <tr>
                    <td style="text-align: left;">{{ posteo.username }}</td>
                    
                      <a href="{% url 'administrador:adminposteoeditar' posteo.id %}" style="background-color: #007bff; color: white; padding: 5px 10px; text-decoration: none; margin-right: 10px; display: inline-block;">Editar</a>
                      <form method="post" action="{% url 'administrador:adminposteoeliminar' posteo.id %}" style="display: inline-block;">
                        {% csrf_token %}
                        <button type="submit" style="background-color: #dc3545; color: white; padding: 5px 10px; text-decoration: none; border: none;">Borrar</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
             
        </div>
    </div>
</body>
<a href="{% url 'administrador:administrador' %}" style="color: #007bff; text-decoration: none; margin-top: 5px; display: block; text-align: center;">Salir</a>
</html>
{% endblock %}
