{% extends 'padre.html' %}

{% block contenido-principal %}


<div style="background-color: #333; color: white; padding: 20px; display: flex; flex-direction: column; align-items: center; text-align: center; height: 100vh;">
    <h2 style="margin-bottom: 20px; color: yellow;">Editar Posteo</h2>
    <form method="post" style="display: flex; justify-content: center; align-items: flex-start;">
        {% csrf_token %}
        <div style="display: flex; align-items: center;">
            <p>Autor actual: &nbsp; {{ posteo_editado.autor.username }}</p>


            <div style="margin-left: 2px; border: 2px solid #ccc; border-radius: 5px; padding: 5px;margin-bottom: 10px;">
                <img src="{{ avatar_autor.imagen.url }}" alt="Avatar del autor" width="100">
            </div>
        </div>



        <div style="display: flex; flex-direction: column; margin-right: 4px; margin-left: 20px; align-items: flex-start;">
            <label for="fecha" style="margin-top: 0px; margin-bottom: 25px;">Fecha:</label>
            <label for="titulo" style="margin-bottom: 25px;">Titulo:</label>
            <label for="subtitulo" style="margin-bottom: 40px;">Subtitulo:</label>
            <label for="contenido" style="margin-top: 0px; margin-bottom: 40px;">Contenido:</label>
            
            <label for="nuevo_autor" style="margin-bottom:0px;">Nuevo Autor:</label>
        </div>
        
        <div style="display: flex; flex-direction: column; align-items: left;">
            <input type="text" name="fecha" id="fecha" value="{{ posteo_editado.fecha|date:'l, j F Y' }}" style="margin-bottom: 10px; padding: 5px; border: 1px solid #ccc; width: 100%;">
            <!-- Aumenta el ancho de los campos "titulo" y "subtitulo" sin cambiar el tamaño de fuente -->
            <input type="text" name="titulo" id="titulo" value="{{ posteo_editado.titulo }}" style="margin-bottom: 10px; padding: 5px; border: 1px solid #ccc; width: 100%;">
            <input type="text" name="subtitulo" id="subtitulo" value="{{ posteo_editado.subtitulo }}" style="margin-bottom: 10px; padding: 5px; border: 1px solid #ccc; width: 100%;">
            <!-- Cambia el campo "contenido" a un textarea -->
            <textarea name="contenido" id="contenido" style="margin-bottom: 10px; padding: 5px; border: 1px solid #ccc; width: 100%; height: 70px;">{{ posteo_editado.contenido }}</textarea>
                      
            <button type="submit" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; cursor: pointer;">Guardar Cambios {{pk}}</button>
        </div>
    </form>
    <a href="{% url 'administrador:administrador' %}" style="color: #007bff; text-decoration: none; margin-top: 20px; display: block;">Salir</a>
</div>
{% endblock %}
