{% extends 'padre.html' %}

{% block contenido-principal %}
<div style="background-color: #333; color: white; padding: 20px; display: flex; flex-direction: column; align-items: center; text-align: center; height: 100vh;">
    <h2 style="margin-bottom: 20px; color: yellow;">Editar Usuario</h2>
    <form method="post" style="display: flex; justify-content: center; align-items: flex-start;">
        
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; margin-right: 20px; align-items: flex-start;">
            <label for="username" style="margin-top: 5px; margin-bottom: 33px;">Nombre de usuario:</label>
            <label for="password" style="margin-bottom: 33px;">Contraseña:</label>
            <label for="first_name" style="margin-bottom: 32px;">Nombre:</label>
            <label for="last_name" style="margin-bottom: 25px;">Apellido:</label>
            <label for="email" style="margin-top: 5px; margin-bottom: 20px;">Correo Electrónico:</label>

            <label for="is_superuser" style="margin-bottom: 10px;">Superusuario:</label>
            <!-- Otros campos del formulario, como email, nombre, etc., siguiendo el mismo patrón -->
        </div>
        
        <div style="display: flex; flex-direction: column;align-items: flex-start;">
            <input type="text" name="username" id="username" value="{{ usuario_editado.username }}" style="margin-bottom: 20px; padding: 5px; border: 1px solid #ccc;">
            <input type="password" name="password" id="password" value="{{ usuario_editado.password }}"style="margin-bottom: 20px; padding: 5px; border: 1px solid #ccc;">
            <input type="text" name="firstname" id="firstname" value="{{ usuario_editado.first_name }}" style="margin-bottom: 20px; padding: 5px; border: 1px solid #ccc;">
            <input type="text" name="lastname" id="lastname" value="{{ usuario_editado.last_name }}" style="margin-bottom: 20px; padding: 5px; border: 1px solid #ccc;">
            <input type="email" name="email" id="email" value="{{ usuario_editado.email }}" style="margin-bottom: 20px; padding: 5px; border: 1px solid #ccc;">


            <input type="checkbox" name="is_superuser" id="is_superuser" {% if usuario_editado.is_superuser %}checked{% endif %} style="margin-bottom: 20px;">
            <button type="submit" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; cursor: pointer;">Guardar Cambios</button>

        </div>
    </form>
    <a href="{% url 'administrador:administrador' %}" style="color: #007bff; text-decoration: none; margin-top: 20px; display: block;">Salir</a>
</div>
{% endblock %}
