{% extends "padre.html" %}
{% load static %}

{% block contenido-principal %}
<body style="background-color: #333;">
    <div style="background-color: #333; color: white; padding: 20px; text-align: center;">
      <h2 style="margin-bottom: 20px;color: yellow;">Listado de Usuarios</h2>
      <table style="width: 60%; margin: 0 auto;">
          <thead>
              <tr>
                  <th style="width: 10%; text-align: center;">Nombre de Usuario</th>
                  <th style="width: 10%; text-align: center;">Superusuario</th>
                  <th style="width: 10%; text-align: center;">Acciones</th>
              </tr>
          </thead>
          <tbody>
              {% for usuario in usuarios %}
              <tr>
                  <td style="text-align: left;">{{ usuario.username }}</td>
                  <td style="text-align: center;">{% if usuario.is_superuser %}Sí{% else %}No{% endif %}</td>
                  <td>
                    <a href="{% url 'administrador:adminusuarioeditar' usuario.id %}" style="background-color: #007bff; color: white; padding: 5px 10px; text-decoration: none; margin-right: 10px; display: inline-block;">Editar</a>
                    <form method="post" action="{% url 'administrador:adminusuarioeliminar' usuario.id %}" style="display: inline-block;">
                        {% csrf_token %}
                        <button type="submit" style="background-color: #dc3545; color: white; padding: 5px 10px; text-decoration: none; border: none;">Borrar</button>
                    </form>

                    
                      
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <a href="{% url 'administrador:administrador' %}" style="color: #007bff; text-decoration: none; margin-top: 20px; display: block;">Salir</a>
    </div>
  </body>
  
{% endblock %}


  