{% extends "padre.html" %}
{% load static %}

{% block titulo %}

       Detalle del Posteo<br> {{ entrada.titulo }} 

      
    {% endblock %}
    
{% block contenido-principal %}


<div class="about_section layout_padding">
    <!-- <a href="{% url 'Entradas:entradacrear' %}" class="btn btn-primary btn-block">Modificar</a> -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                    <div class="card-body">
                        <h3 style="text-align: center;">{{ entrada.subtitulo }}</h3>
                        <p class="post_text">Autor: {{ entrada.autor }}  -  Fecha de Creación: {{ entrada.fecha }}</p>
                        
                       
                        <img src="{{ entrada.imagen.url }}" alt="{{ entrada.titulo }}" style="width: 100%;">
                        <br>
                        <h2 style="text-align: center;">{{ entrada.contenido }} </h3>
                 
                    </div>
                    <br>


                    </div>
     
            </div>      
     </div>
  </div>
</div>
{% endblock %}
