{% extends "padre.html" %}
{% load static %}

{% block titulo %}
    <h1>{{ entrada.titulo }}</h1>
    <h3>{{ <entrada class="subtitulo"></entrada> }}</h3>
{% endblock %}

{% block contenido %}
    <div class="container">
        <p>Autor: {{ entrada.autor }}</p>
        <p>Fecha de Creación: {{ entrada.fecha }}</p>
        <img src="{{ entrada.imagen.url }}" alt="{{ entrada.titulo }}" style="max-width: 100%;">

        <div>
            <p>{{ entrada.contenido }}</p>
        </div>
    </div>
{% endblock %}
