
{% load static %}
<!-- messages/templates/messages/mensajeformulario.html -->
<!-- messages/templates/messages/mensajeformulario.html -->
<form method="post">
    {% csrf_token %}
    {{ form.destinatario.label_tag }}
    {{ form.destinatario }}
    {{ form.contenido.label_tag }}
    {{ form.contenido }}


    {% csrf_token %}
    {{ form.destinatario.label_tag }}
    {{ form.destinatario }}
    {{ form.contenido.label_tag }}
    {{ form.contenido }}


    {% csrf_token %}
    {{ form.destinatario.label_tag }}
    {{ form.destinatario }}
    {{
        {% csrf_token %}
        {{ form.destinatario.label_tag }}
    
        {% csrf_token %}
        {{ form.destinatario
    
       
    <button type="submit">Enviar mensaje</button>
    </form>
   
    
    
    
    
    
    
    <button type="submit">Enviar mensaje</button>
</form>

