{% extends "padre.html" %}
{% load static %}

{% block titulo %}

       Mensajes 

      
    {% endblock %}
    
{% block contenido-principal %}


<div class="about_section layout_padding">
    <a href="{% url 'Mensajes:crear_mensaje' %}" class="btn btn-primary btn-block">Nuevo Mensaje</a>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
            {% for mensaje in mensajes %}
                    <div class="card-body">
                        <strong>Remitente:</strong> {{ mensaje.remitente }}<br>
                        <strong>Contenido:</strong> {{ mensaje.contenido }}<br>
                        <strong>Fecha de envío:</strong> {{ mensaje.fecha_envio }}<br>
                      </li>
                    {% empty %}
                      <li>No tienes mensajes.</li>>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            {% endfor %}
                    </div>
      <!-----Sector derecho de la pantalla, con los ultimos posteos-->
                <!-- <div class="col-lg-4 col-sm-12">
                    <div class="newsletter_main">
                    <h1 class="recent_taital">Posteos Recientes</h1>
                    {% for entrada in entradas_recientes %}
                    <div class="recent_box">
                        <div class="recent_left">
                            <div class="image_6"><img src="{{ entrada.imagen.url }}" alt="{{ entrada.titulo }}" type="image/jpg"></div>
                        </div>
                        <div class="recent_right">
                            <h3 class="consectetur_text">{{ entrada.titulo }}</h3>
                            <p class="dolor_text">{{ entrada.contenido|slice:":35" }}{% if entrada.contenido|length > 35 %}....{% endif %}
                                <div class="read_bt"><a href="{% url 'Entradas:entradadetalle' entrada.id %}" style="font-size: 14px;; margin-top: 5px;">Leer Más</a></div>

                            </p>
                            
                        </div>
                    </div>
                    {% endfor %} -->
     </div>
  </div>
</div>
{% endblock %}
